.DS_Store

*.swp

*.trace
*.o
*.out
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

**/datasets
**/generated_datasets
**/*.vs
**/*.vscode
SCoDA_GPU_FULL.code-workspace

## Build generated
build/
builds/linux/graph_viewer_exec
builds/linux/scoda_exec
builds/linux/stress_exec
builds/linux/.depend
out/
DerivedData/
**/temp.*
src/read_files.md
**/__pycache__

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Windows stuff
Debug/
GPUGraphLayout_take2.sln
GPUGraphLayout_take2.vcxproj
GPUGraphLayout_take2.vcxproj.filters
GPUGraphLayout_take2.vcxproj.user
PropertySheet.props

## Temp binaries and scripts
**/.nfs*
TEMP_ORIGINAL/
utils/generate_output/
utils/junk_out/
